p {
	color: black;
	font-size: 20px;
	font-family: Verdana; 

}

body {
	width: 1200px;
}

#title {
	color: red;
	border: 4px dashed blue;
	text-align: center;
}

#art {
	background-color: #325322;
	padding:10px;
	border: 4px solid #235390;
	border-radius: 10px;

}

.post {
	text-align: center;
	color: red;
	font-family: Verdana;
	font-size:40px;
	text-transform: capitalize;
}

img {
	border: 3px solid orange;
}
a {
	color: orange;
}

ul {
	padding-left: 15px;
}
ol {
	padding-left: 15px;
}

.contato {
	list-style-type: none;
	padding-left: 20px;
	margin-top: 1px;
	text-align: center;
}

footer {
	text-align: center;
}